/* Body
============================================================= */
body:before, body:after {
  content: "";
  position: fixed;
  background: black;
  left: 0;
  right: 0;
  height: 10px;
}
body:before {
  top: 0;
  z-index: 10;
}
body:after {
  bottom: 0;
  z-index: 15;
}
body {
  border-left: 10px solid black;
  border-right: 10px solid black;
}
/* Header
============================================================= */
.header,
.home .header {
  background: black;
  color: white;
}

.header {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-toggle {
  margin-left: 15px;
  margin-right: 35px;
  z-index: 1;
}
.menu-toggle::before,
.menu-toggle::after {
  background: white;
}

.noscroll .menu-toggle::before {
  transform: translate3d(-50%, -5px, 0);
}
.noscroll .menu-toggle::after {
  transform: translate3d(-50%, 5px, 0);
}

.menu ul {
  background: black;
}


 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav li a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav .active a {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#overlay {
  display: none;
	background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration-color: darkgray;
}

a:hover {
  color: darkgray;
}

.service-logo {
  height: 15px;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  color: white;
}

.cd {
  text-align: center;
}

.post-content, .post-summary {
  text-align: justify;
  text-justify: inter-word;
}

.first-entry {
  background: white;
}

.post-meta {
  font-style: italic;
  color: lightgray;
}

footer a {
  text-decoration: underline;
}

/* Lists */
.inline-bracket-list a:after {
  content: ", ";
}

.inline-bracket-list a:last-child:after {
  content: "";
}

.post h2 {
  margin-bottom: 15px;
}

/* Bugs */
.bug h3 {
  margin-bottom: 5px;
  margin-top: 0;
}


.tutorial-meta h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.tutorial-meta ul {
  padding-left: 20px;
  margin-bottom: 0;
}

.tutorial-meta li {
  margin-bottom: 10px;
}

.bug, .topics, .pre-req, .requirements {
  margin: 30px 0;
  border-left: 4px solid rgb(51, 51, 51);
  padding: 15px 25px 15px 25px;
  background-color: #f8f7f7;
} 

.pre-req {
  margin-bottom: 0;
}

.requirements {
  margin-top: 0;
  background-color: #ebebeb;
  padding-left: 40px;
}

.requirements i {
  margin-right: 15px;
}

.requirements a {
  text-decoration: none;
  font-style: italic;
}

.bug {
  text-align: justify;
  text-justify: inter-word;
}

.topics, .pre-req {
  padding-left: 40px;
}

.topics {
  margin-top: 0;
}

.post-content {
  clear: both;
}

.tutorial-meta ul {
  padding-left: 20px;
}

.tutorial-meta {
  padding-top: 30px;
}

.tutorial-meta + .post-content {
  padding-top: 15px;
}

.record {
  font-weight: 400;
  font-size: 20px;
}


/* Funny bits */
.funny-bits {
  text-align: center;
  padding-bottom: 25px;
  font-size: 12px;
  color: rgb(165, 161, 161);
  font-style: italic;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  line-height: 1.1em;
}


/* Highlight */
.post-content pre code {
  display: block;
}

.post-content table code {
  padding-top: 0;
  padding-bottom: 0;
}

.post-content pre {
  margin: 30px 0px;
  border-radius: 6px;
}

.post-content table pre {
  margin: 20px 0px;
}

.highlight table {
  margin: 30px 0 !important; 
}

.highlight div {
  border-radius: 6px;
}

.post-content table code {
  white-space: pre;
}

.highlight td:nth-child(2) {
  width: 100%;
}

/* Unflavored code fences */
code {
  padding: 20px;
}

pre {
  border-radius: 6px;
  background-color: #272822;
  color: white;
}


/* Tags */
.post-view .post-tags {
  margin-bottom: 15px;
  margin-top: 15px;
}

.post-view footer .post-tags {
  margin-bottom: 30px;
}