{{ $jQuery := resources.Get "vendor/js/jquery-3.3.1.min.js" }}
{{ $instantClick := resources.Get "vendor/js/instantclick_3.0.1_instantclick.min.js" }}
  {{ $menu := resources.Get "js/menu.js" }}
  {{ $funnyBits := resources.Get "js/funny_bits.js" }}
  {{ $js := slice $jQuery $instantClick $menu $funnyBits | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
  <script
  src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  <script data-no-instant>InstantClick.init();</script>